<h1> Update Custommer3</h1>
<form action="/update" method="POST">
    Id: <input type="text" name="id" value="<%= Custommer3s.id%>"><br>
    EnableFCM: <input type="text" name="EnableFCM" value="<%= Custommer3s.EnableFCM%>"><br>
    Avatar: <input type="text" name="Avatar" value="<%= Custommer3s.Avatar%>"><br>
    Banner: <input type="text" name="Banner" value="<%= Custommer3s.Banner%>"><br>
    IsGetNotification: <input type="text" name="IsGetNotification" value="<%= Custommer3s.IsGetNotification%>"><br>
    IsVerified: <input type="text" name="IsVerified" value="<%= Custommer3s.IsVerified%>"><br>
    IsGetOpen: <input type="text" name="IsGetOpen" value="<%= Custommer3s.IsGetOpen%>"><br>
    <button type="submit">Update Custommer3</button>
</form>